.App {
  height: 100%;
  width: 100%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-image: url(./images/wooden.jpg);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
}

.element {
  display:inline-block;
  justify-content: center;
  align-items: center;
}

.result{
  color: azure;
}


